.formContainer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 24px 16px;
  grid-area: "content";

  > div {
    background: rgba(255, 0, 0, .2);
    padding: 12px;
    p {
      font-size: 16px;
      color: black;
    }
  }

  fieldset {
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 8px 0;

    label {
      display: block;
      line-break: anywhere;
    }
    input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      height: 35px;
      font-size: 16px;
      padding: 8px 8px;
    }
  }
}